






.footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #323232;
    color: #ffffff;
    padding: 72px 8vw;
}
.footerlogo {

}


.footertext


.footersocials